
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>{{"pages.linguagem.title" | translate}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let lang of linguagens" (click)="selecionarLinguagem(lang.key)">
      <ion-label>
        {{lang.label | translate}}
      </ion-label>
      <ion-icon *ngIf="isSelectedLinguagem(lang.key)" item-right name="checkmark" color="primary"></ion-icon>
    </button>
  </ion-list>
</ion-content>
